<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= form.label :farmer_id %>
    <%#= form.text_field :farmer_id %>
    <%= form.select :farmer_id, FarmersProfile.all.collect {|farmer| [farmer.stall_name, farmer.id]} %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%#= form.text_field :product_id %>
    <%# WAIT!! Will only want products from specified farmer showing!! %>
    <%= form.select :product_id, Product.all.collect {|product| [product.name, product.id]} %>
    <%# Also want option to add several products!! %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.text_field :volume %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
