<div class="row">
    <%= simple_form_for @order, :html => {class: "col s12"} do |f| %>

<<<<<<< Updated upstream
      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :farmer_id %>
    <%= form.text_field :farmer_id %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.text_field :profile_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.text_field :volume %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
=======
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
        <%= f.association :farmers_profile, wrapper_html: { class: "input-field col s6" }, required: true %>
        <%= f.association :products,        wrapper_html: { class: "input-field col s6" }, required: true %>
        <%= f.input       :volume,          wrapper_html: { class: "input-field col s6" }, input_html: { class: "materialize-textarea" }, required: true %>

        <div class="col s12">
            <%= f.button      :submit %>
        </div>

    <% end %>
</div>
>>>>>>> Stashed changes
