<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :farmer_profile_id %>
    <%#= form.text_field :farmer_id %>
    <%# need to change this so only farmers from the right market come up %>
    <%= form.select :farmers_profile_id, FarmersProfile.all.collect {|farmer| [farmer.stall_name, farmer.id]} %>
  </div>

  <%# <div class="field">
    <%= form.label :profile_id %>
    <%#= form.text_field :profile_id %>
  <%#</div> %>

<%# need something here allowing for as many products as wanted also only offer that from the farmer selected something like:
Product.farmer(order_params(name: order_params.name))?? %>
  <div class="field">
    <%= form.label :product_id %>
    <%#= form.text_field :product_id %>
    <%= form.select :product_id, Product.all.collect {|product| [product.name, product.id]} %>
  </div>

<%# need something to display measurement - kg, punnet, single item, g etc %>
  <div class="field">
    <%= form.label :volume %>
    <%= form.text_field :volume %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
