<h1>Previous Orders</h1>

  <table>
    <thead>
      <tr>
        <th>Farmer</th>
        <th>Profile</th>
        <th>Product</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <% if order.profile_id == current_user.profile.id %>
          <tr>
            <td><%= order.farmers_profile.stall_name %></td>
            <td><%= order.profile.name %></td>
            <td><%= order.products.last.name %></td>
            <td><%= order.volume %></td>
            <td><%= link_to 'Show', order %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<br>
