
<p>
  <strong>Farmer:</strong>
  <%= @order.farmers_profile.stall_name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @order.profile %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @order.volume %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
