<%= form_with(model: farmers_profile, local: true) do |form| %>
  <% if farmers_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmers_profile.errors.count, "error") %> prohibited this farmers_profile from being saved:</h2>

      <ul>
      <% farmers_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%# 
  <div class="field">
    <%= form.label :profile_id %>
    <%#= form.text_field :profile_id %>
  <%#</div> %>


  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <%# drop down box with all available markets as a choice %>
  <div class="field">
    <%= form.label :market_id %>
    <%= form.select :market_id, Market.all.collect {|market| [market.name, market.id]} %>
  </div>

  <div class="field">
    <%= form.label :stall_name %>
    <%= form.text_field :stall_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
