
<h1>Farmers Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Image</th>
      <th>Bio</th>
      <th>Market</th>
      <th>Stall name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers_profiles.each do |farmers_profile| %>
      <tr>
        <td><%= farmers_profile.profile["name"] %></td>
        <td><%= farmers_profile.images %></td>
        <td><%= farmers_profile.bio %></td>
        <td><%= farmers_profile.market["name"] %></td>
        <td><%= farmers_profile.stall_name %></td>
        <td><%= link_to 'Show', farmers_profile %></td>
        <td><%= link_to 'Edit', edit_farmers_profile_path(farmers_profile) %></td>
        <td><%= link_to 'Destroy', farmers_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <% @farm = FarmersProfile.all %>
  <% counter = 0 %>
  <% @farm.each do |farm| %>
    <% if farm.profile_id == current_user.profile.id %>
      <% break %>
    <% else %>
      <% counter += 1 %>
    <% end %>
    <% if counter == @farm.count %>
      <%= link_to 'New Farmers Profile', new_farmers_profile_path %>
    <% end %>
  <% end %>
<% end %>