<h1>Farmers</h1>

<div class="row farmers">
    <% @farmers_profiles.each do |farmer| %>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <%= image_tag farmer.images %>
                    <span class="card-title"> <%= farmer.stall_name %> </span>
                </div>
                <div class="card-content">
                    <p> <%= farmer.bio %> </p>
                </div>
                <div class="card-action">
                    <%= link_to "Buy from #{farmer.profile["name"]}", farmer %>
                    <% if user_signed_in? && current_user.id == farmer.profile.user.id %>           
                        <%= link_to 'Edit', edit_farmers_profile_path(farmer) %>
                        <%= link_to 'Destroy', farmer, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>


<% if user_signed_in? && current_user.role == "buyer" %>
  <%= link_to 'Sign up to be a Farmer', new_farmers_profile_path %>
<% end %>