
<p>
  <strong>Profile:</strong>
  <%= @farmers_profile.profile["name"] %>
</p>

<p>
  <strong>Image:</strong>
  <%= @farmers_profile.images %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @farmers_profile.bio %>
</p>

<p>
  <strong>Market:</strong>
  <%= @farmers_profile.market["name"] %>
</p>

<p>
  <strong>Stall name:</strong>
  <%= @farmers_profile.stall_name %>
</p>
<%= link_to 'Edit', edit_farmers_profile_path(@farmers_profile) %>

<%= link_to 'Make an Order', new_order_path(@farmers_profile) %>
<%# <a href="/orders/new" class="waves-effect waves-light btn"><i class="material-icons left">local_atm</i>Make an Order</a> %>