<section class="banner">
    <%= image_tag @farmers_profile.images %>
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><%= @farmers_profile.stall_name %></span>
                    <span class="farmerName"><%= @farmers_profile.profile["name"] %></span>
                    <span class="farmerMarket"><%= @farmers_profile.market["name"] %></span>
                    <p><%= @farmers_profile.bio %></p>
                </div>
                <% if user_signed_in? && current_user.id == @farmers_profile.profile.user.id %> 
                <div class="card-action">
                    <%= link_to 'Edit', edit_farmers_profile_path(@farmers_profile) %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <% @products.each do |product| %>
         <div class="col s12 m6 l4">
            <div class="card horizontal">
            <div class="card-image">
                <%= image_tag product.image if product.image.attached? %>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span><%= product.name %></span>
                    <p> <%= product.description %> </p>
                    <span><%= "$#{product.price}" %></span>
                    <span><%= "/#{product.unit}" %></span>
                    <span><%= "#{product.amount_available} Available" %></span>
                    <span><%= product.picked_date %></span>
                </div>
                <div class="card-action">
                    <% if user_signed_in? && current_user.id == @farmers_profile.profile.user.id %>           
                        <%= link_to 'Edit', edit_product_path(product) %>
                        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% else %>
                        <input id="qty" type="number" value="0">
                        <button class="waves-effect waves-light btn">Add to Order</button>
                        <script> 
                            var quantity = document.getElementById("qty").value
                            localStorage.setItem("<%= product.id %>", quantity); 
                        </script>
                    <% end %>
                </div>
            </div>
            </div>
        </div>
    <% end %>
</div>
