
<p>
  <strong>Profile:</strong>
  <%= @farmers_profile.profile["name"] %>
</p>

<p>
  <strong>Image:</strong>
  <%= @farmers_profile.images %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @farmers_profile.bio %>
</p>

<p>
  <strong>Market:</strong>
  <%= @farmers_profile.market["name"] %>
</p>

<p>
  <strong>Stall name:</strong>
  <%= @farmers_profile.stall_name %>
</p>
<%= link_to 'Edit', edit_farmers_profile_path(@farmers_profile) %>


<table>
  <thead>
    <tr>
      <th>Farmer</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Amount available</th>
      <th>Picked date</th>
      <th>Active</th>
      <th>QTY</th>
    </tr>
  </thead>

  <tbody>

<% @products.each do |product| %>
    <% if current_user.profile.id == product.farmers_profile.id %>
        <tr>
            <td><%= product.farmers_profile.stall_name %></td>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td>$<%= product.price %></td>
            <td>/<%= product.unit %></td>
            <td><%= product.amount_available %></td>
            <td><%= product.picked_date %></td>
            <td><%= product.active %></td>
            <td> <input type="text"> </td>
        </tr>
    <% end %>
<% end %>
  </tbody>
</table>




