<section id="loginBackground">

</section>

<section id="login">
    <h2>Log in</h2>

    <div class="row">
        <%= simple_form_for(resource, :html => {class: "col s12"}, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
                <%= f.input :email,       wrapper_html: { class: "input-field col s12" }, input_html: { autocomplete: "email" },  autofocus: true %>
                <%= f.input :password,    wrapper_html: { class: "input-field col s12" }, input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="form-actions">
                <%= f.button :submit, "Log in" %>
            </div>
        <% end %>

        <div class="col s12">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</section>