<div class="row">
    <%= simple_form_for @market, :html => {class: "col s12"} do |f| %>

        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
        <%= f.input       :name,          wrapper_html: { class: "input-field col s6" }, required: true %>
        <%= f.input       :opening_hours, wrapper_html: { class: "input-field col s6" },  input_html: { class: "materialize-textarea" }, required: true %>
        <%= f.input       :location,      wrapper_html: { class: "input-field col s12" }, input_html: { class: "materialize-textarea" }, required: true %>
        <%= f.input       :bio,           wrapper_html: { class: "input-field col s12" }, input_html: { class: "materialize-textarea" }, required: true %>

        <div class="col s12">
            <%= f.button      :submit %>
        </div>

    <% end %>
</div>