<h1>Markets</h1>

<div id="marketsMap"></div>

<div class="row markets">
    <% locations = [] %>
    <% @markets.each do |market| %>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><%= market.name %></span>
                    <span><%= market.location %></span>
                    <span><%= market.opening_hours %></span>
                </div>
                <div class="card-action">
                    <%= link_to "Visit #{market.name}", market %>
                    <% if user_signed_in? && current_user.role == "admin" %>
                        <%= link_to 'Edit', edit_market_path(market) %>
                        <%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
            </div>
        </div>
        <% loc = Geocoder.search(market.location) %>
        <% lat = loc.first.coordinates.first%>
        <% lng = loc.first.coordinates.second%>
        <% currentLocation = [market.name, lat, lng] %>
        <% locations << currentLocation %>
    <% end %>
</div>


<% if user_signed_in? && current_user.role == "admin" %>
  <%= link_to 'Add New Market', new_market_path %>
<% end %>

<script> marketsMap( [<%= raw locations.to_json %>] ) </script>