
<h1>Markets</h1>

<div id="marketsMap"></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Bio</th>
      <th>Opening hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% locations = [] %>
    <% @markets.each do |market| %>
      <tr>
        <td><%= market.name %></td>
        <td><%= market.location %></td>
        <td><%= market.bio %></td>
        <td><%= market.opening_hours %></td>
        <td><%= link_to 'Show', market %></td>


        <% if user_signed_in? && current_user.role == "admin" %>
          <td><%= link_to 'Edit', edit_market_path(market) %></td>
          <td><%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% loc = Geocoder.search(market.location) %>
      <% lat = loc.first.coordinates.first%>
      <% lng = loc.first.coordinates.second%>
      <% currentLocation = [market.name, lat, lng] %>
      <% locations << currentLocation %>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.role == "admin" %>
  <%= link_to 'Add New Market', new_market_path %>
<% end %>

<script> 
    marketsMap( [<%= raw locations.to_json %>] )
</script>