<div class="row">
    <%= simple_form_for @product, :html => {class: "col s12"} do |f| %>

        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
        <%= f.input       :name,            wrapper_html: { class: "input-field col s6" },   required: true %>
        <div class="file-field input-field col s12">
            <div class="btn">
                <span>Poster</span>
                <%= f.input :image, label: false %>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <%= f.input :description,      wrapper_html: { class: "input-field col s12" }, input_html: { class: "materialize-textarea" }, required: true %>
        <%= f.input :price,            wrapper_html: { class: "input-field col s6" },   required: true %>
        <%= f.input :unit,             wrapper_html: { class: "input-field col s6" },   required: true, collection: ["kg", "250g", "punnet", "each", "bushel"] %>
        <%= f.input :amount_available, wrapper_html: { class: "input-field col s6" },   required: true %>
        <%= f.input :picked_date,      wrapper_html: { class: "input-field col s12" },  required: true %>
        <%= f.input :active,           wrapper_html: { class: "col s6" },   required: true, as: :boolean %>

        <div class="col s12">
            <%= f.button      :submit %>
        </div>

    <% end %>
</div>
