
<p>
  <strong>Farmer:</strong>
  <%= @product.farmers_profile_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image if @product.image.attached? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @product.price %>/<% @product.unit%>
</p>

<p>
  <strong>Picked date:</strong>
  <%= @product.picked_date %>
</p>

<% if user_signed_in? %>
  <% if @product.farmers_profile_id == current_user.id %>
    <p>
      <strong>Active:</strong>
      <%= @product.active %>
    </p>
  <% end %>
<% end %>

<p>
  <strong>Amount available:</strong>
  <%= @product.amount_available %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
