<!DOCTYPE html>
<html>
  <head>
    <title>FarmersMarket</title>
    <meta name="turbolinks-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmwlb9Te36-Xs9_R0Pp1yk-4NT-aAjApY" type="text/javascript"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if notice %>
        <script>M.toast({html: '<%= notice %>'})</script>
    <% end %>

    <% if alert %>
        <script>M.toast({html: '<%= alert %>'})</script>
    <% end %>

    <%= render 'partials/navbar'%>

    <div class="container">
        <%= yield %>
    </div>

    <%= render 'partials/footer'%>

  </body>
</html>
